<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br>
    <a th:href="@{/courses/add}" class="btn btn-success"> + Add Course</a>
    <br>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td>
                <a th:href="@{'/modules/' + ${course.id}}"
                   th:text="${course.name}"></a>
            </td>

            <td th:text="${course.description}"></td>

            <td>
                <a th:href="@{'/courses/update/' + ${course.id}}" class="btn btn-primary btn-sm">
                    Edit
                </a>
            </td>

            <td><a th:href="@{/courses/delete(id=${course.id})}" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span> Delete </a></td>

            <td>
                <a th:href="@{'/courses/' + ${course.id}}" class="btn btn-primary btn-sm">
                    View
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>


<div class="Display flex justi fy content center">
    <div  class="d-flex" th:if="${pageCount>1}">

        <div th:if="${currentPage>1}">
            <a class="btn btn-warning" style="color: black" th:href="'/courses?page='+(${currentPage}-1)" th:text="'PREV'"></a>
        </div>
        <a class="btn btn-warning" style="color: black" th:href="'/courses?page=1'" th:text="'1'"></a>
        <a class="btn btn-warning" style="color: black" th:href="'/courses?page=2'" th:text="'2'"></a>
        <div th:if="${beginPage>3}">
            <button class="btn btn-warning" style="color: black" disabled th:text="'...'"></button>
        </div>
        <!--//////////////////////////////////////////////////////////////////////-->

        <div th:each="v_page: ${listPage}">
            <a class="btn btn-warning" style="color: black" th:href="'/courses?page='+${v_page}" th:text="${v_page}"></a>
        </div>

        <!--//////////////////////////////////////////////////////////////////////-->
        <div th:if="${endPage} < ${pageCount}-2">
            <button class="btn btn-warning" style="color: black" disabled  th:text="'...'"></button>
        </div>
        <div th:if="${pageCount>3}">
            <a class="btn btn-warning" style="color: black" th:href="'/courses?page='+(${pageCount}-1)" th:text="${pageCount}-1"></a>
        </div>
        <div th:if="${pageCount>2}">
            <a class="btn btn-warning" style="color: black" th:href="'/courses?page='+${pageCount}" th:text="${pageCount}"></a>
        </div>
        <div th:if = "${pageCount>currentPage}">
            <a class="btn btn-warning" style="color: black" th:href="'/courses?page='+(${currentPage}+1)" th:text="'NEXT'"></a>
        </div>

    </div>
</div>

<script>
    function makeDeleteUserRequest(url) {
        console.log(url)
        fetch(url,
            {
                method: 'DELETE'
            }
        ).then(response => location.reload())
    }
</script>
</body>
</html>
