<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select role</title>
</head>
<body>
<form action="/auth/role">
    <label for="role">Choose role</label>
    <select id="role" name="role">
        <!--/*@thymesVar id="userRole" type="com.app.model.Role"*/-->
        <option th:each="userRole : ${roles}" th:value="${userRole.getName()}" th:text="${userRole.getName()}"></option>
    </select>
    <button type="submit">SEND</button>

</form>
</body>
</html>